/** Set Up **/
*, html, body{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Quicksand', sans-serif;
	background-color: black;
	padding: 20px 20px 0px 20px;
	color: white;
}
.page-header{
	margin: 20px 0px 20px 30px;
	font-weight: 300;
	font-size: 38px;
}
.link-text:hover{
	color: #19B5FE;
}
/****************  INDEXXX **************/
/** Main Flex Container **/
.flex-container{
	display: flex;
	justify-content: center;
	align-items: stretch;
}
.flex-items{
	height: 90vh;
}
a.index-links{
	width: 100%;
	background-color: black;
	text-decoration: none;
	color: white;
}
/*Inner Flex Container*/
.inner-flex-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.f, .find,
.r, .works,
.o, .con,
.y, .hist {
	font-size: 98px;
	font-weight: 300;
}
.find,
.works,
.con,
.hist{
	color: transparent;
	transition: color 500ms;
}
.section1:hover .find,
.section2:hover .works,
.section3:hover .con,
.section4:hover .hist{
	color: white;
}
.section1:hover .find-f,
.section2:hover .work-r,
.section3:hover .con-o,
.section4:hover .hist-y{
	color: #19B5FE;
}

/**Inner Flex Items - Order Mods**/
.find-f{ order: 2;}
.find-i{ order: 1;}
.find-n{ order: 3;}
.find-d{ order: 4;}
.find-m{ order: 5;}
.find-e{ order: 6;}
.section1:hover .find-f{ order: 1;}
.section1:hover .find-i{ order: 2;}

.work-w{ order: 1;}
.work-o{ order: 3;}
.work-r{ order: 2;}
.work-k{ order: 4;}

.section2:hover .work-r{ order: 3; }
.section2:hover .work-o{ order: 2;}

.con-c{ order: 1;}
.con-o{ order: 2;}
.con-n{ order: 3;}
.con-t{ order: 4;}
.con-a{ order: 5;}
.con-c-sec{ order: 6;}
.con-t-sec{ order: 7;}
.section3:hover .con-o{	order: 2;}
.section3:hover .con-n{	order: 4;}

.hist-h{ order: 1;}
.hist-i{ order: 7;}
.hist-s{ order: 3;}
.hist-t{ order: 4;}
.hist-o{ order: 5;}
.hist-r{ order: 6;}
.hist-y{ order: 2;}
.section4:hover .hist-i{ order: 2;}
.section4:hover .hist-y{ order: 7; }
/******************** END OF INDEXXX *************/
/************************* FIND ME ******************/
.findme-header{
	margin: 20px 0px 20px 30px;
	font-weight: 300;
	font-size: 38px;
}
.findme-flex-container{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.findme-flex-items{
	width: 70vw;
	height: 100px;
	border: 1px solid white;
	padding: 10px;
	text-align: center;
}
.findme-link{
	color: white;
	text-decoration: none;
	margin: 0 auto;
	margin-top: 25px;
	display: inline-block;
}
.findme-link:hover{
	cursor: pointer;
}
.flex-header{
	font-weight: 300;
	font-size: 38px;
}
.findme-flex-items:nth-child(1):hover {
	background-color: #0EBEFF;
}
.findme-flex-items:nth-child(2):hover {
	background-color: #76C859;
}
.findme-flex-items:nth-child(3):hover {
	background-color: #EB9532;
}
.findme-flex-items:nth-child(4):hover {
	background-color: #007bb6;
}
.findme-flex-items:nth-child(5):hover {
	background-color: #00aced;
}
/*********************************************/
/************  WORK HISTORY ************/
.history-flex-container{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: 100px;
}
.job{
	width: 80vw;
	padding-bottom: 40px;
}
.job:nth-child(1),
.job:nth-child(2){
	border-bottom: 1px solid white;
}
.job:nth-child(2),
.job:nth-child(3){
	margin-top: 10px;
}
.work-name{
	display: inline-block;
	text-decoration: none;
	color: white;
	margin-right: 30px;
}
.job-name{
	font-size: 32px;
	font-weight: 400;
}
.work-name:hover {
	color: #19B5FE;
}
.job-details{
	margin-left: 50px;
	font-size: 22px;
	font-weight: 300;
	padding: 5px;
}
.image{
	width: 220px;
	height: auto;
}
.time{
	font-size: 16px;
	color: #19B5FE;
	font-weight: 400;
	font-style: italic;
}
#countup{
	display: inline;
	font-weight: 700;
}
/**********************************************/
/************** MY WORK *****************/
.work-header{
	margin: 50px 0px 20px 30px;
	font-weight: 300;
}
.work-websites-text{
	font-weight: 400;
	padding-left: 30px;
	border-left: 1px solid white;
}
.work-flex{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	margin-bottom: 100px;
}
.work-flex-items{
	width: 300px;
	height: 300px;
	margin: 20px;
}
/*Project image*/
.work-flex-items img{
	width: 300px;
	height: 270px;
	position: relative;
}
/*Project name text*/
.work-name-text{
	text-align: center;
	font-size: 28px;
	font-weight: 300;
	margin-top: 10px;
}
/*Project  links*/
.work-link{
	text-decoration: none;
	color: white;
}
/*****************************/
/************* CONTACT *********/
#contactForm{
	margin: 0 auto;
	padding-bottom: 200px;
	width: 50%;
	text-align: center;
	box-sizing: border-box;
}
.label-text{
	font-size: 28px;
	text-align: left;
	display: block;
}
.control-group{
	margin-top: 40px;
}
.first-control-group{
	margin-top: 0;
}
form input,
form textarea{
	width: 100%;
	margin-left: 50px;
	margin-top: 20px;
	background-color: #000;
	border: 0;
	border-bottom: 1px solid #fff;
}
form input{
	height: 30px;
}
form textarea{
	height: 200px;
	border: 1px solid #fff;
}
form input[type="text"],
form input[type="email"],
form textarea{
	color: #19B5FE;
	font-size: 18px;
}
form button{
	float: right;
	width: 150px;
	height: 50px;
	border: 1px solid #fff;
	margin-top: 20px;
	color: #fff;
	background-color: #000;
	transition: .4s all;
}
.btn-text{
	font-size: 18px;
}
form button:hover{
	background-color: #19B5FE;
	border: 1px solid #19B5FE;
	color: #fff;
	cursor: pointer
}
/*****************************/
/************* FOOOTER *********/
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: black;
	color: white;
	border-top: 1px solid white;   
}
.flex-footer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-flex-items{
	width: 25%;
	text-align: center;
}
.footer-link{
	text-decoration: none;
	color: white;
}
.footer-link:hover{
	color: #19B5FE;
}
.footer-text{
	font-weight: 300;
	font-size: 28px;
}
/***********************************/
/*****THANK YOU PAGE***********/
.thank-you-container{
	text-align: center;
}
.thank-you-text{
	font-size: 38px;
	font-weight: 300;
	margin: 30px 40px 0px 40px;
	text-align: left;
}
.hiking-image{
	width:700px;
	height: auto;
	margin-top: 15px;
}
/***********************************/

/** MEDIA QUERIES **/
@media screen and (min-width: 0px) and (max-width: 360px){
	body{
		margin: 0;
		padding: 0;
		width: 100%;
	}
	footer{
		height: 30px;
	}
	.footer-text{
		font-size: 14px;
	}
	.flex-header{
		margin:0;
		padding: 0;
		font-size: 5px;
	}
	.flex-container{
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}
	.flex-items{
		width: 100%;
		height: 20%;
	}
	.page-header{
		margin: 10px 0px 20px 5px;
		font-weight: 300;
		font-size: 32px;
	}
	.inner-flex-container{
		flex-flow: row nowrap;
		justify-content: space-around;
	}
	a.index-links{
		width: 90%;
		height: 100%;
		margin: 0 auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.inner-flex-items .find,
	.inner-flex-items .hist,
	.inner-flex-items .con,
	.inner-flex-items .works{
		color: white;
	}

	.f, .find,
	.r, .works,
	.o, .con,
	.y, .hist {
		font-size: 40px;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.inner-flex-container:hover{ 
		border-bottom: 1px solid white;
	}
	.flex-items:hover .inner-flex-items{ 
		order: 0;
	}
	.f, .r, 
	.o, .y{ 
		color: #19B5FE;
	}
	.inner-flex-items{ 
		order: 0;
		width: 100%;
		margin: 0;
		padding:0;
	}

	/*** FIND ME**/
	.findme-flex-container{
		padding-bottom: 80px;
		padding-top: 0px;
	}
	.findme-flex-items{
		width: 90vw;
		height: 50px;
	}
	.findme-link{
		margin-top: 15px;
	}
	.flex-header{	
		font-size: 24px;
	}
	/** WORK HISTORY**/
	.work-websites-text{
		margin-left: 15px;
		border-left: 2px solid white;
	}
	.work-name-text{
		text-align: center;
		font-size: 24px;
		font-weight: 300;
		margin-top: 10px;
	}
	.image{
		padding-top: 10px;
		width: 140px;
		height: auto;
	}
	.job-details{
		margin-left: 20px;
		font-size: 18px;
		font-weight: 300;
		padding: 5px;
	}
	/************* CONTACT *********/
	#contactForm{
		margin: 0 auto;
		padding: 15px;
		width: 100%;
		text-align: left;
	}
	.label-text{
		font-size: 16px;
		text-align: left;
		display: block;
	}
	.control-group{
		margin-top: 20px;
	}
	.first-control-group{
		margin-top: 0;
	}
	form input,
	form textarea{
		width: 80%;
		margin-left: 10px;
		margin-top: 5px;
		background-color: #000;
		border: 0;
		border-bottom: 1px solid #fff;
	}
	form input{
		height: 20px;
	}
	form textarea{
		height: 100px;
		border: 1px solid #fff;
	}
	form input[type="text"],
	form input[type="email"],
	form textarea{
		color: #19B5FE;
		font-size: 14px;
	}
	form button{
		float: right;
		width: 130px;
		height: 35px;
		border: 1px solid #fff;
		margin-top: 20px;
		margin-right: 50px;
		color: #fff;
		background-color: #000;
		transition: .4s all;
	}
	.btn-text{
		font-size: 14px;
	}
	form button:hover{
		background-color: #19B5FE;
		border: 1px solid #19B5FE;
		color: #fff;
		cursor: pointer
	}
	/** FOOTER **/
	footer{
		height: 50px;

	}
	.footer-text{
		font-size: 14px;
	}
	.thank-you-text{
		font-size: 24px;
		font-weight: 300;
		margin: 30px 10px 0px 10px;
		text-align: auto;
	}
	.hiking-image{
		width:300px;
		height: auto;
		margin-top: 45px;
	}
}
@media screen and (min-width: 361px) and (max-width: 413px){
	body{
		margin: 0;
		padding: 0;
		width: 100%;
	}
	footer{
		height: 30px;
	}
	.footer-text{
		font-size: 14px;
	}
	.flex-header{
		margin:0;
		padding: 0;
		font-size: 5px;
	}
	.flex-container{
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}
	.flex-items{
		width: 100%;
		height: 20%;
	}
	.page-header{
		margin: 10px 0px 20px 5px;
		font-weight: 300;
		font-size: 32px;
	}
	.inner-flex-container{
		flex-flow: row nowrap;
		justify-content: space-around;
	}
	a.index-links{
		width: 90%;
		height: 100%;
		margin: 0 auto;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.inner-flex-items .find,
	.inner-flex-items .hist,
	.inner-flex-items .con,
	.inner-flex-items .works{
		color: white;
	}
	.f, .find,
	.r, .works,
	.o, .con,
	.y, .hist {
		font-size: 40px;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.inner-flex-container:hover{ 
		border-bottom: 1px solid white;
	}
	.flex-items:hover .inner-flex-items{ 
		order: 0;
	}
	.f, .r, .o, .y{ 
		color: #19B5FE;
	}
	.inner-flex-items{ 
		order: 0;
		width: 100%;
		margin: 0;
		padding:0;
	}

	/*** FIND ME**/
	.findme-flex-container{
		padding-bottom: 80px;
		padding-top: 0px;
	}
	.findme-flex-items{
		width: 90vw;
		height: 12%;
	}
	.findme-link{
		margin-top: 15px;
	}
	.flex-header{	
		font-size: 24px;
	}
	/** WORK HISTORY**/
	.work-websites-text{
		margin-left: 15px; 
		border-left: 2px solid white;
	}
	.job-name{ 
		font-size: 24px;
	}
	.image{
		padding-top: 10px;
		width: 140px;
		height: auto;
	}
	.job-details{
		margin-left: 20px;
		font-size: 18px;
		font-weight: 300;
		padding: 5px;
	}
	/************* CONTACT *********/
	#contactForm{
		margin: 0 auto;
		margin: 30px 15px 0px 15px;
		padding: 0px;
		width: 100%;
		text-align: left;
	}
	.label-text{
		font-size: 18px;
		text-align: left;
		display: block;
	}
	.control-group{
		margin-top: 20px;
	}
	.first-control-group{
		margin-top: 0;
	}
	form input,
	form textarea{
		width: 80%;
		margin-left: 10px;
		margin-top: 5px;
		background-color: #000;
		border: 0;
		border-bottom: 1px solid #fff;
	}
	form input{
		height: 20px;
	}
	form textarea{
		height: 150px;
		border: 1px solid #fff;
	}
	form input[type="text"],
	form input[type="email"],
	form textarea{
		color: #19B5FE;
		font-size: 14px;
	}
	form button{
		float: right;
		width: 150px;
		height: 40px;
		border: 1px solid #fff;
		margin-top: 20px;
		margin-right: 60px;
		color: #fff;
		background-color: #000;
		transition: .4s all;
	}
	.btn-text{
		font-size: 16px;
	}
	form button:hover{
		background-color: #19B5FE;
		border: 1px solid #19B5FE;
		color: #fff;
		cursor: pointer
	}
	/** FOOTER **/
	footer{
		height: 50px;
	}
	.footer-text{
		font-size: 16px;
	}
	/**THANK YOU ***/
	.thank-you-text{
		font-size: 24px;
		font-weight: 300;
		margin: 30px 10px 0px 10px;
		text-align: auto;
		line-height: 36px;
	}
	.hiking-image{
		width:350px;
		height: auto;
		margin-top: 45px;
	}
}
@media screen and (min-width: 414px) and (max-width: 425px){
	body{
		margin: 0;
		padding: 0;
		width: 100%;
	}
	footer{
		height: 30px;
	}
	.footer-text{
		font-size: 14px;
	}
	.flex-header{
		margin:0;
		padding: 0;
		font-size: 5px;
	}
	.flex-container{
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}
	.flex-items{
		width: 100%;
		height: 20%;
	}
	.page-header{
		margin: 10px 0px 20px 5px;
		font-weight: 300;
		font-size: 32px;
	}
	.inner-flex-container{
		flex-flow: row nowrap;
		justify-content: space-around;
	}
	a.index-links{
		width: 90%;
		height: 100%;
		margin: 0 auto;
		padding-top: 45px;
		padding-bottom: 45px;
	}

	.inner-flex-items .find,
	.inner-flex-items .hist,
	.inner-flex-items .con,
	.inner-flex-items .works{
		color: white;
	}
	.f, .find,
	.r, .works,
	.o, .con,
	.y, .hist {
		font-size: 48px;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.inner-flex-container:hover{ 
		border-bottom: 1px solid white;
	}
	.flex-items:hover .inner-flex-items{ 
		order: 0;
	}
	.f, .r, 
	.o, .y{ 
		color: #19B5FE;
	}
	.inner-flex-items{ 
		order: 0;
		width: 100%;
		margin: 0;
		padding:0;
	}

	/*** FIND ME**/
	.findme-flex-container{
		padding-bottom: 80px;
		padding-top: 0px;
	}
	.findme-flex-items{
		width: 90vw;
		height: 50px;
	}
	.findme-link{
		margin-top: 15px;
	}
	.flex-header{	
		font-size: 24px;
	}

	/** WORK HISTORY**/
	.work-websites-text{
		margin-left: 15px; 
		border-left: 2px solid white;
		font-size: 30px;
	}
	.work-name-text{
		text-align: center;
		font-size: 28px;
		font-weight: 300;
		margin-top: 10px;
	}
	.image{
		padding-top: 10px;
		width: 140px;
		height: auto;
	}
	.job-details{
		margin-left: 20px;
		font-size: 18px;
		font-weight: 300;
		padding: 5px;
	}
	/************* CONTACT *********/
	#contactForm{
		margin: 0 auto;
		margin: 30px 15px 0px 15px;
		padding: 0px;
		width: 100%;
		text-align: left;
	}
	.label-text{
		font-size: 22px;
		text-align: left;
		display: block;
	}
	.control-group{
		margin-top: 20px;
	}
	.first-control-group{
		margin-top: 0;
	}
	form input,
	form textarea{
		width: 80%;
		margin-left: 10px;
		margin-top: 5px;
		background-color: #000;
		border: 0;
		border-bottom: 1px solid #fff;
	}
	form input{
		height: 25px;
	}
	form textarea{
		height: 170px;
		border: 1px solid #fff;
	}
	form input[type="text"],
	form input[type="email"],
	form textarea{
		color: #19B5FE;
		font-size: 14px;
	}
	form button{
		float: right;
		width: 150px;
		height: 40px;
		border: 1px solid #fff;
		margin-top: 20px;
		margin-right: 60px;
		color: #fff;
		background-color: #000;
		transition: .4s all;
	}
	.btn-text{
		font-size: 16px;
	}
	form button:hover{
		background-color: #19B5FE;
		border: 1px solid #19B5FE;
		color: #fff;
		cursor: pointer
	}
	/** FOOTER **/
	footer{
		height: 50px;
	}
	.footer-text{
		font-size: 16px;
	}
	/**THANK YOU ***/
	.thank-you-text{
		font-size: 24px;
		font-weight: 300;
		margin: 30px 10px 0px 10px;
		text-align: auto;
		line-height: 50px;
	}
	.hiking-image{
		width:400px;
		height: auto;
		margin-top: 45px;
	}
}
@media screen and (min-width: 426px) and (max-width: 767px){
	body{
		margin: 0;
		padding: 0;
		width: 100%;
	}
	footer{
		height: 30px;
	}
	.footer-text{
		font-size: 14px;
	}
	.flex-header{
		margin:0;
		padding: 0;
		font-size: 5px;
	}
	.flex-container{
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}
	.flex-items{
		width: 100%;
		height: 20%;
	}
	.page-header{
		margin: 20px 0px 20px 20px;
		font-weight: 300;
		font-size: 38px;
	}
	.inner-flex-container{
		flex-flow: row nowrap;
		justify-content: space-around;
	}
	a.index-links{
		width: 90%;
		height: 100%;
		margin: 0 auto;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.inner-flex-items .find,
	.inner-flex-items .hist,
	.inner-flex-items .con,
	.inner-flex-items .works{
		color: white;
	}
	.f, .find,
	.r, .works,
	.o, .con,
	.y, .hist {
		font-size: 58px;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.inner-flex-container:hover{ 
		border-bottom: 1px solid white;
	}
	.flex-items:hover .inner-flex-items{ 
		order: 0;
	}
	.f, .r, 
	.o, .y{ 
		color: #19B5FE;
	}
	.inner-flex-items{ 
		order: 0;
		width: 100%;
		margin: 0;
		padding:0;
	}

	/*** FIND ME**/
	.findme-flex-container{
		padding-bottom: 80px;
		padding-top: 40px;
	}
	.findme-flex-items{
		width: 90vw;
		height: 70px;
	}
	.findme-link{
		margin-top: 15px;
	}
	.flex-header{	
		font-size: 24px;
	}

	/** WORK HISTORY**/
	.image{
		padding-top: 10px;
		width: 140px;
		height: auto;
	}
	.job-details{
		margin-left: 20px;
		font-size: 18px;
		font-weight: 300;
		padding: 5px;
	}

	/** WORK EXAMPLES **/
	.work-flex-items{
		width: 400px;
		height: 400px;
		text-align: center;
	}
	.work-flex-items img{
		width: 330px;
		height: 300px
	}
	.work-websites-text{
		font-size: 36px;
		margin-left: 35px; 
		border-left: 2px solid white;
	}
	.work-name-text{
		text-align: center;
		font-size: 32px;
		font-weight: 300;
		margin-top: 10px;
	}
	/************* CONTACT *********/
	#contactForm{
		margin: 0;
		margin: 30px 0px 0px 30px;
		padding: 0px;
		width: 100%;
		text-align: left;
	}
	.label-text{
		font-size: 24px;
		text-align: left;
		display: block;
	}
	.control-group{
		margin-top: 25px;
	}
	.first-control-group{
		margin-top: 0;
	}
	form input,
	form textarea{
		width: 80%;
		margin-left: 15px;
		margin-top: 15px;
		background-color: #000;
		border: 0;
		border-bottom: 1px solid #fff;
	}
	form input{
		height: 30px;
	}
	form textarea{
		height: 200px;
		border: 1px solid #fff;
	}
	form input[type="text"],
	form input[type="email"],
	form textarea{
		color: #19B5FE;
		font-size: 14px;
	}
	form button{
		float: right;
		width: 160px;
		height: 60px;
		border: 1px solid #fff;
		margin-top: 20px;
		margin-right: 100px;
		color: #fff;
		background-color: #000;
		transition: .4s all;
	}
	.btn-text{
		font-size: 20px;
		letter-spacing: 1px;
	}
	form button:hover{
		background-color: #19B5FE;
		border: 1px solid #19B5FE;
		color: #fff;
		cursor: pointer
	}
	/** FOOTER **/
	footer{
		height: 70px;
	}
	.footer-text{
		font-size:20px;
	}
}
@media screen and (min-width: 768px) and (max-width: 850px){
	body{
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.flex-container{
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}
	.flex-items{
		width: 100%;
		height: 20%;
	}
	.page-header{
		margin: 20px 0px 20px 20px;
		font-weight: 300;
		font-size: 46px;
	}
	.inner-flex-container{
		flex-flow: row nowrap;
		justify-content: space-around;
	}
	a.index-links{
		width: 90%;
		height: 100%;
		margin: 0 auto;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.inner-flex-items .find,
	.inner-flex-items .hist,
	.inner-flex-items .con,
	.inner-flex-items .works{
		color: white;
	}
	.f, .find,
	.r, .works,
	.o, .con,
	.y, .hist {
		font-size: 78px;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.inner-flex-container:hover{ 
		border-bottom: 1px solid white;
	}
	.flex-items:hover .inner-flex-items{ 
		order: 0;
	}
	.f, .r, .o, .y{ 
		color: #19B5FE;
	}
	.inner-flex-items{ 
		order: 0;
		width: 100%;
		margin: 0;
		padding:0;
	}

	/*** FIND ME**/
	.findme-flex-container{
		padding-bottom: 80px;
		padding-top: 40px;
	}
	.findme-flex-items{
		width: 90vw;
		height: 110px;
	}
	.findme-link{
		margin-top: 35px;
	}

	/** WORK EXAMPLES **/
	.work-flex-items{
		width: 500px;
		height: 530px;
		text-align: center;
	}
	.work-flex-items img{
		width: 480px;
		height: 450px
	}
	.work-websites-text{
		font-size: 42px;
		margin-left: 35px; 
		border-left: 2px solid white;
	}
	.work-name-text{
		text-align: center;
		font-size: 36px;
		font-weight: 300;
		margin-top: 10px;
	}
	/************* CONTACT *********/
	#contactForm{
		margin: 0;
		margin: 30px 0px 0px 30px;
		padding: 0px;
		width: 100%;
		text-align: left;
	}
	.label-text{
		font-size: 30px;
		text-align: left;
		display: block;
	}
	.control-group{
		margin-top: 30px;
	}
	.first-control-group{
		margin-top: 0;
	}
	form input,
	form textarea{
		width: 80%;
		margin-left: 15px;
		margin-top: 20px;
		background-color: #000;
		border: 0;
		border-bottom: 1px solid #fff;
	}
	form input{
		height: 30px;
	}
	form textarea{
		height: 220px;
		border: 1px solid #fff;
	}
	form input[type="text"],
	form input[type="email"],
	form textarea{
		color: #19B5FE;
		font-size: 14px;
	}
	form button{
		float: right;
		width: 190px;
		height: 70px;
		border: 1px solid #fff;
		margin-top: 20px;
		margin-right: 140px;
		color: #fff;
		background-color: #000;
		transition: .4s all;
	}
	.btn-text{
		font-size: 26px;
		letter-spacing: 1px;
		font-weight: 300;
	}
	form button:hover{
		background-color: #19B5FE;
		border: 1px solid #19B5FE;
		color: #fff;
		cursor: pointer
	}
	/** FOOTER **/
	footer{
		height: 100px;
	}
	.footer-text{
		font-size: 28px;
	}
	/**THANK YOU ***/
	.thank-you-text{
		font-size: 40px;
		font-weight: 300;
		margin: 30px 20px 0px 30px;
		text-align: auto;
		line-height: 80px;
	}
	.hiking-image{
		width:700px;
		height: auto;
		margin-top: 55px;
	}
}
@media screen and (min-width: 851px) and (max-width: 1024px){
	.page-header{
		margin: 10px 0px 20px 10px;
		font-weight: 300;
		font-size: 46px;
	}
	.f, .find,
	.r, .works,
	.o, .con,
	.y, .hist {
		font-size: 78px;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	/** WORK EXAMPLES **/
	.work-flex-items{
		width: 400px;
		height: 530px;
		text-align: center;
	}
	.work-flex-items img{
		width: 400px;
		height: 390px
	}
	.work-websites-text{
		font-size: 36px;
		margin-left: 35px; 
		border-left: 2px solid white;
	}
	.work-name-text{
		text-align: center;
		font-size: 32px;
		font-weight: 300;
		margin-top: 10px;
	}
	/********* FIND ME ******************/
	.findme-header{
		margin: 20px 0px 20px 30px;
		font-weight: 300;
		font-size: 38px;
	}
	.findme-flex-container{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 120px;
	}
	.findme-flex-items{
		width: 70vw;
		height: 80px;
		border: 1px solid white;
		padding: 10px;
		text-align: center;
	}
	.findme-link{
		color: white;
		text-decoration: none;
		margin: 0 auto;
		margin-top: 25px;
		display: inline-block;
	}
	.flex-header{
		font-weight: 300;
		font-size: 32px;
	}
	/************************************/
	/************* CONTACT *********/
	#contactForm{
		margin: 0;
		margin: 30px 0px 100px 20px;
		padding: 0px;
		padding-bottom: 50px;
		width: 100%;
		text-align: left;
		overflow: scroll;
	}
	.label-text{
		font-size: 26px;
		text-align: left;
		display: block;
	}
	.control-group{
		margin-top: 25px;
	}
	.first-control-group{
		margin-top: 0;
	}
	form input,
	form textarea{
		width: 80%;
		margin-left: 30px;
		margin-top: 10px;
		background-color: #000;
		border: 0;
		border-bottom: 1px solid #fff;
	}
	form input{
		height: 25px;
	}
	form textarea{
		height: 200px;
		border: 1px solid #fff;
	}
	form input[type="text"],
	form input[type="email"],
	form textarea{
		color: #19B5FE;
		font-size: 14px;
	}
	form button{
		float: right;
		width: 190px;
		height: 70px;
		border: 1px solid #fff;
		margin-top: 20px;
		margin-right: 165px;
		color: #fff;
		background-color: #000;
		transition: .4s all;
	}
	.btn-text{
		font-size: 26px;
		letter-spacing: 1px;
		font-weight: 300;
	}
	form button:hover{
		background-color: #19B5FE;
		border: 1px solid #19B5FE;
		color: #fff;
		cursor: pointer
	}
}
@media screen and (min-width: 1025px) and (max-width: 1240px){
	.page-header{
		margin: 10px 0px 20px 10px;
		font-weight: 300;
		font-size: 46px;
	}
	.f, .find,
	.r, .works,
	.o, .con,
	.y, .hist {
		font-size: 78px;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	/** WORK EXAMPLES **/
	.work-flex-items{
		width: 400px;
		height: 530px;
		text-align: center;
	}
	.work-flex-items img{
		width: 400px;
		height: 390px
	}
	.work-websites-text{
		font-size: 36px;
		margin-left: 35px; 
		border-left: 2px solid white;
	}
	.work-name-text{
		text-align: center;
		font-size: 32px;
		font-weight: 300;
		margin-top: 10px;
	}
	/********* FIND ME ******************/
	.findme-header{
		margin: 20px 0px 20px 30px;
		font-weight: 300;
		font-size: 38px;
	}
	.findme-flex-container{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 120px;
	}
	.findme-flex-items{
		width: 70vw;
		height: 80px;
		border: 1px solid white;
		padding: 10px;
		text-align: center;
	}
	.findme-link{
		color: white;
		text-decoration: none;
		margin: 0 auto;
		margin-top: 25px;
		display: inline-block;
	}
	.flex-header{
		font-weight: 300;
		font-size: 32px;
	}
	/************************************/
	/************* CONTACT *********/
	#contactForm{
		margin: 0 auto;
		margin-bottom: 300px;
		width: 60%;
		text-align: center;
	}
	.label-text{
		font-size: 28px;
		text-align: left;
		display: block;
	}
	.control-group{
		margin-top: 40px;
	}
	.first-control-group{
		margin-top: 0;
	}
	form input,
	form textarea{
		width: 100%;
		margin-left: 50px;
		margin-top: 20px;
		background-color: #000;
		border: 0;
		border-bottom: 1px solid #fff;
	}
	form input{
		height: 30px;
	}
	form textarea{
		height: 200px;
		border: 1px solid #fff;
	}
	form input[type="text"],
	form input[type="email"],
	form textarea{
		color: #19B5FE;
		font-size: 18px;
	}
	form button{
		float: right;
		width: 150px;
		height: 50px;
		border: 1px solid #fff;
		margin-top: 20px;
		color: #fff;
		background-color: #000;
		transition: .4s all;
	}
	.btn-text{
		font-size: 18px;
	}
	form button:hover{
		background-color: #19B5FE;
		border: 1px solid #19B5FE;
		color: #fff;
		cursor: pointer
	}
}
@media screen and (min-width: 1241px) and (max-width: 1280px){
	.page-header{
		margin: 10px 0px 20px 10px;
		font-weight: 300;
		font-size: 46px;
	}
	.f, .find,
	.r, .works,
	.o, .con,
	.y, .hist {
		font-size: 82px;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	/** WORK EXAMPLES **/
	.work-flex-items{
		width: 400px;
		height: 530px;
		text-align: center;
	}
	.work-flex-items img{
		width: 400px;
		height: 390px
	}
	.work-websites-text{
		font-size: 36px;
		margin-left: 35px; 
		border-left: 2px solid white;
	}
	.work-name-text{
		text-align: center;
		font-size: 32px;
		font-weight: 300;
		margin-top: 10px;
	}
	/********* FIND ME ******************/
	.findme-header{
		margin: 20px 0px 20px 30px;
		font-weight: 300;
		font-size: 38px;
	}
	.findme-flex-container{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 120px;
	}
	.findme-flex-items{
		width: 70vw;
		height: 80px;
		border: 1px solid white;
		padding: 10px;
		text-align: center;
	}
	.findme-link{
		color: white;
		text-decoration: none;
		margin: 0 auto;
		margin-top: 25px;
		display: inline-block;
	}
	.flex-header{
		font-weight: 300;
		font-size: 32px;
	}
	/************************************/
	/************* CONTACT *********/
	#contactForm{
		margin: 0 auto;
		width: 60%;
		text-align: center;
	}
	.label-text{
		font-size: 28px;
		text-align: left;
		display: block;
	}
	.control-group{
		margin-top: 40px;
	}
	.first-control-group{
		margin-top: 0;
	}
	form input,
	form textarea{
		width: 100%;
		margin-left: 50px;
		margin-top: 20px;
		background-color: #000;
		border: 0;
		border-bottom: 1px solid #fff;
	}
	form input{
		height: 30px;
	}
	form textarea{
		height: 200px;
		border: 1px solid #fff;
	}
	form input[type="text"],
	form input[type="email"],
	form textarea{
		color: #19B5FE;
		font-size: 18px;
	}
	form button{
		float: right;
		width: 150px;
		height: 50px;
		border: 1px solid #fff;
		margin-top: 20px;
		color: #fff;
		background-color: #000;
		transition: .4s all;
	}
	.btn-text{
		font-size: 18px;
	}
	form button:hover{
		background-color: #19B5FE;
		border: 1px solid #19B5FE;
		color: #fff;
		cursor: pointer
	}
}

/*15" screen*/
@media screen and (min-width: 1281px) and (max-width: 1366px){
	.page-header{
		margin: 10px 0px 20px 10px;
		font-weight: 300;
		font-size: 46px;
	}
	.f, .find,
	.r, .works,
	.o, .con,
	.y, .hist {
		font-size: 84px;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	/** WORK EXAMPLES **/
	.work-flex-items{
		width: 500px;
		height: 530px;
		text-align: center;
	}
	.work-flex-items img{
		width: 400px;
		height: 390px
	}
	.work-websites-text{
		font-size: 36px;
		margin-left: 35px; 
		border-left: 2px solid white;
	}
	.work-name-text{
		text-align: center;
		font-size: 32px;
		font-weight: 300;
		margin-top: 10px;
	}
	/********* FIND ME ******************/
	.findme-header{
		margin: 20px 0px 20px 30px;
		font-weight: 300;
		font-size: 38px;
	}
	.findme-flex-container{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 120px;
	}
	.findme-flex-items{
		width: 70vw;
		height: 80px;
		border: 1px solid white;
		padding: 10px;
		text-align: center;
	}
	.findme-link{
		color: white;
		text-decoration: none;
		margin: 0 auto;
		margin-top: 25px;
		display: inline-block;
	}
	.flex-header{
		font-weight: 300;
		font-size: 32px;
	}
	/************************************/
	/************* CONTACT *********/
	#contactForm{
		margin: 0 auto;
		width: 60%;
		text-align: center;
	}
	.label-text{
		font-size: 28px;
		text-align: left;
		display: block;
	}
	.control-group{
		margin-top: 20px;
	}
	.first-control-group{
		margin-top: 0;
	}
	form input,
	form textarea{
		width: 100%;
		margin-left: 50px;
		margin-top: 10px;
		background-color: #000;
		border: 0;
		border-bottom: 1px solid #fff;
	}
	form input{
		height: 30px;
	}
	form textarea{
		height: 200px;
		border: 1px solid #fff;
	}
	form input[type="text"],
	form input[type="email"],
	form textarea{
		color: #19B5FE;
		font-size: 18px;
	}
	form button{
		float: right;
		width: 150px;
		height: 50px;
		border: 1px solid #fff;
		margin-top: 20px;
		color: #fff;
		background-color: #000;
		transition: .4s all;
	}
	.btn-text{
		font-size: 18px;
	}
	form button:hover{
		background-color: #19B5FE;
		border: 1px solid #19B5FE;
		color: #fff;
		cursor: pointer
	}
}

/*19" screen*/
@media screen and (min-width: 1367px) and (max-width: 1440px){
	.page-header{
		margin: 10px 0px 20px 10px;
		font-weight: 300;
		font-size: 52px;
	}
	.work-websites-text{
		margin-left: 40px;
	}
	.hiking-image{
		width:900px;
		height: auto;
		margin-top: 75px;
	}
}

/*20" screen*/
@media screen and (min-width: 1441px) and (max-width: 1600px){
	.page-header{
		margin: 10px 0px 20px 10px;
		font-weight: 300;
		font-size: 58px;
	}
	.work-websites-text{
		margin-left: 60px;
	}

	.findme-flex-container{
		margin-top: 50px;
		margin-bottom: 170px;
	}
	/** WORK EXAMPLES **/
	.work-flex-items{
		width: 600px;
		height: 630px;
		text-align: center;
	}
	.work-flex-items img{
		width: 450px;
		height: 420px
	}
	.work-websites-text{
		font-size: 46px;
		margin-left: 35px; 
		margin-top: 40px;
		border-left: 2px solid white;
	}
	.work-name-text{
		text-align: center;
		font-size: 32px;
		font-weight: 300;
		margin-top: 10px;
	}
	.history-flex-container{
		margin-bottom: 150px;
	}
	.job-name{
		font-size: 38px;
	}
	.job-details{
		margin-left: 20px;
		font-size: 28px;
		font-weight: 300;
		padding: 5px;
	}
	/** FOOTER **/
	footer{
		height: 150px;
	}
	.footer-text{
		font-size: 38px;
	}
	/** THANK YOU IMAGE **/
	.hiking-image{
		width:900px;
		height: auto;
		margin-top: 75px;
	}
}

/*22" screen*/
@media screen and (min-width: 1601px) and (max-width: 1680px){
	.page-header{
		margin: 10px 0px 20px 10px;
		font-weight: 300;
		font-size: 58px;
	}
	.f, .find,
	.r, .works,
	.o, .con,
	.y, .hist {
		font-size: 100px;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.work-websites-text{
		margin-left: 60px;
	}

	.findme-flex-container{
		margin-top: 80px;
	}
	/** WORK EXAMPLES **/
	.work-flex-items{
		width: 600px;
		height: 630px;
		text-align: center;
	}
	.work-flex-items img{
		width: 450px;
		height: 420px
	}
	.work-websites-text{
		font-size: 46px;
		margin-left: 35px; 
		margin-top: 40px;
		border-left: 2px solid white;
	}
	.work-name-text{
		text-align: center;
		font-size: 32px;
		font-weight: 300;
		margin-top: 10px;
	}
	.history-flex-container{
		margin-bottom: 150px;
	}
	.job-name{
		font-size: 38px;
	}
	.job-details{
		margin-left: 20px;
		font-size: 28px;
		font-weight: 300;
		padding: 5px;
	}
	/** FOOTER **/
	footer{
		height: 150px;
	}
	.footer-text{
		font-size: 38px;
	}
	/** THANK YOU IMAGE **/
	.hiking-image{
		width:1000px;
		height: auto;
		margin-top: 75px;
	}
}

/*23" screen*/
@media screen and (min-width: 1681px) and (max-width: 1920px){
	.page-header{
		margin: 10px 0px 20px 10px;
		font-weight: 300;
		font-size: 58px;
	}
	.f, .find,
	.r, .works,
	.o, .con,
	.y, .hist {
		font-size: 120px;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.work-websites-text{
		margin-left: 60px;
	}

	.findme-flex-container{
		margin-top: 80px;
	}
	/** WORK EXAMPLES **/
	.work-flex-items{
		width: 600px;
		height: 630px;
		text-align: center;
	}
	.work-flex-items img{
		width: 450px;
		height: 420px
	}
	.work-websites-text{
		font-size: 46px;
		margin-left: 35px; 
		margin-top: 40px;
		border-left: 2px solid white;
	}
	.work-name-text{
		text-align: center;
		font-size: 32px;
		font-weight: 300;
		margin-top: 10px;
	}
	.history-flex-container{
		margin-bottom: 150px;
	}
	.job-name{
		font-size: 38px;
	}
	.job-details{
		margin-left: 20px;
		font-size: 28px;
		font-weight: 300;
		padding: 5px;
	}
	/** FOOTER **/
	footer{
		height: 150px;
	}
	.footer-text{
		font-size: 38px;
	}
	/** THANK YOU IMAGE **/
	.hiking-image{
		width:1000px;
		height: auto;
		margin-top: 75px;
	}
}

/*24" screen*/
@media screen and (min-width: 1921px) {
	.hiking-image{
		width:1200px;
		height: auto;
		margin-top: 95px;
	}
}
