/** Set Up **/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Quicksand', sans-serif;
	background-color: black;
	padding: 20px 20px 0px 20px;
	color: white;
}
.page-header{
	margin: 20px 0px 20px 30px;
	font-weight: 300;
	font-size: 38px;
}

/**** INDEXXX **************/
/** Main Flex Container **/
.flex-container{
	
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;
	
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;

	-webkit-align-items: stretch;
	-moz-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
}
.flex-items{
	height: 90vh;
}
a.index-links{
	width: 100%;
	background-color: black;
	text-decoration: none;
	color: white;
}

/*Inner Flex Container*/
.inner-flex-container{
	display: flex;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;

	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}

.f, .find,
.r, .works,
.o, .con,
.y, .hist {
	font-size: 98px;
	font-weight: 300;
}
 .find, 
.works,
.con,
.hist{
	color: transparent;
	transition: color 500ms;
}

.section1:hover .find,
.section2:hover .works,
.section3:hover .con,
.section4:hover .hist{
	color: white;
}
.section1:hover .find-f,
.section2:hover .work-r,
.section3:hover .con-o,
.section4:hover .hist-y{
	color: #19B5FE;
}

/**Inner Flex Items - Order Mods**/

.find-f{ order: 2;}
.find-i{ order: 1;}
.find-n{ order: 3;}
.find-d{ order: 4;}
.find-m{ order: 5;}
.find-e{ order: 6;}
.section1:hover .find-f{ order: 1;}
.section1:hover .find-i{ order: 2;}


.work-w{ order: 1;}
.work-o{ order: 3;}
.work-r{ order: 2;}
.work-k{ order: 4;}

.section2:hover .work-r{ order: 3; }
.section2:hover .work-o{ order: 2;}


.con-c{ order: 1;}
.con-o{ order: 2;}
.con-n{ order: 3;}
.con-t{ order: 4;}
.con-a{ order: 5;}
.con-c-sec{ order: 6;}
.con-t-sec{ order: 7;}
.section3:hover .con-o{	order: 2;}
.section3:hover .con-n{	order: 4;}

.hist-h{ order: 1;}
.hist-i{ order: 7;}
.hist-s{ order: 3;}
.hist-t{ order: 4;}
.hist-o{ order: 5;}
.hist-r{ order: 6;}
.hist-y{ order: 2;}
.section4:hover .hist-i{ order: 2;}
.section4:hover .hist-y{ order: 7; }

/**** END OF INDEXXX **************/


/********* FIND ME ******************/
.findme-header{
	margin: 20px 0px 20px 30px;
	font-weight: 300;
	font-size: 38px;
}
.findme-flex-container{
	display: flex;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */

	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;

	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;



	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.findme-flex-items{
	width: 70vw;
	height: 100px;
	border: 1px solid white;
	padding: 10px;
	text-align: center;
}
.findme-link{
	color: white;
	text-decoration: none;
	margin: 0 auto;
	margin-top: 25px;
	display: inline-block;
}
.flex-header{	
	font-weight: 300;
	font-size: 38px;
}

.findme-flex-items:nth-child(1):hover {
	background-color: #0EBEFF;
	font-weight: 400;
}
.findme-flex-items:nth-child(2):hover {
	background-color: #76C859;
}
.findme-flex-items:nth-child(3):hover {
	background-color: #EB9532;
}
.findme-flex-items:nth-child(4):hover {
	background-color: #007bb6;
}
.findme-flex-items:nth-child(5):hover {
	background-color: #00aced;
}
/************************************/

/************  HISTORY ************/
.history-header{
	margin: 50px 0px 50px 30px;
	font-weight: 300;
	font-size: 38px;
}
.history-flex-container{
	display:flex;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */

	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;

	margin-bottom: 100px;
}

.job{
	width: 80vw;
	padding-bottom: 40px;
}

.job:nth-child(1),
.job:nth-child(2){
	border-bottom: 1px solid white;
}
.job:nth-child(2),
.job:nth-child(3){
	margin-top: 10px;
}

.work-name{
	display: inline-block;
	text-decoration: none;
	color: white;
	margin-right: 30px;
}

.work-name h3{
	font-size: 32px;
	font-weight: 400;
}
.work-name:hover {
	color: #19B5FE;
}
.work-info h4{
	margin-left: 50px;
	font-size: 22px;
	font-weight: 300;
	padding: 5px;
}
.image{
	width: 220px;
	height: auto;
}
.time{
	font-size: 16px;
	color: #19B5FE;
	font-weight: 400;
	font-style: italic;
}
#countup{
	display: inline;
	font-weight: 700;
}

/*****************************/


/********* MY WORK ************/

.work-header{
	margin: 50px 0px 20px 30px;
	font-weight: 300;
}


.drop{
	width: 90%;
	margin: 0 auto;
}

#select1{
	width: 250px;
	margin: 0;
	margin-bottom: 50px;
	height: 40px;

	border: none;
	background:  black;
	color: white;
	border: none;
	border-bottom: 1px solid white;

	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 300;
	font-family: 'Quicksand', sans-serif;
}

.gobut{
	width: 40px;
	height: 40px;
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	color: white;
	background-color: black;
	border: 1px solid white;
	margin: 0;
	padding: 0;
}

.gobut:hover{
	background-color:#19B5FE;
}

option{
	font-size: 20px;
	letter-spacing: 1px;
	height: 100px;
	font-weight: 300;

}

iframe{
	display: block;
	width: 80%;
	height: 65vh;
	margin: 0 auto;
	border: 3px solid white;
}
/*****************************/


/************* FOOOTER *********/
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: black;
	color: white;
	border-top: 1px solid white;
}
.flex-footer{
	display: flex;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */

	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;

}
.footer-flex-items{
	width: 70%;
	text-align: center;
}
.footer-link{
	text-decoration: none;
	color: white;
}
.footer-link:hover{
	color: #19B5FE;
}
footer h3{	
	font-weight: 300;
	font-size: 28px;
}
/***********************************/

/** MEDIA QUERIES **/
@media (min-width: 0px) and (max-width: 350px){
	body{
		margin: 0;
		padding: 0;
	}
	.f, .find,
	.r, .works,
	.o, .con,
	.y, .hist {
		font-size: 62px;

	}

	footer{
		height: 40px;
	}

	.page-header{
		margin: 0;
		padding: 0;
		font-size: 14px;
	}
	.fa-stack-overflow{ display: none}

	/*** FIND ME**/
	.findme-flex-container{
		margin-top: -15px;
		padding: 0;
	}
	.findme-flex-items{
		width: 90vw;
		padding: 0px;
	}
	.findme-link{	
		margin:0;
		padding: 0;
		font-size: 5px;
	}
	.so{
		margin-bottom: 55px;
	} 
	.flex-header{	
		margin:0;
		padding: 0;
		font-size: 5px;
	}

	footer h3{	font-size: 5px;}

	#select1{
		width: 40%;
		height: 20px;
		margin: 0;
		padding: 0;
		border: none;
		border-bottom: 1px solid white;
		font-weight: 300;
	}

	.w iframe{
		width: 100%;
		height: 65%;
		border: 1px solid white;
		margin-top: -25px;
	}

	option{
		font-size: 14px;
		letter-spacing: 1px;
		height: 20px;
		font-weight: 300;
	}
}

@media (max-width: 375px){
	.f, .find,
	.r, .works,
	.o, .con,
	.y, .hist {
		font-size: 68px;

	}
	/*** FIND ME**/
	.findme-flex-items{
		width: 90vw;
		height: 50px;
	}
	.findme-link{	
		font-size: 18px;
		margin-top: 5px;
	}
	.flex-header{	font-size: 18px;}

	footer{
		height: 50px;
	}
	.w iframe{
		width: 100%;
		height: 65%;
		border: 1px solid white;
		margin-top: -25px;
	}
	.c iframe{
		width: 100%;
		height: 67%;
		border: 1px solid white;
		margin-top: -10px;
	}


}



@media (max-width: 850px){
	body{
		padding: 10px 5px 0px 5px;
	}
	.flex-container{
		display: flex;
		display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
		display: -ms-flexbox;  /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
		
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.flex-items{
		width: 100%;
		height: 23%;
	}
	.page-header{
		margin: 0px 0px 20px 0px;
		font-weight: 300;
		font-size: 32px;
	}
	.inner-flex-container{
		-webkit-flex-flow: row nowrap;
		-moz-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;

		-webkit-justify-content: space-around;
		-moz-justify-content: space-around;
		-ms-justify-content: space-around;
		justify-content: space-around;
	}

	.inner-flex-items .find,
	.inner-flex-items .hist,
	.inner-flex-items .con,
	.inner-flex-items .works{
		color: white;
	}

	.inner-flex-container:hover{ border-bottom: 1px solid white;}
	.flex-items:hover .inner-flex-items{ order: 0;}
	.f, .r, .o, .y{ color: #19B5FE;}
	.inner-flex-items{ order: 0;}


	/*** FIND ME**/
	.findme-flex-items{
		width: 90vw;
		height: 70px;
	}
	.findme-link{	
		font-size: 28px;
		margin-top: 15px;
	}
	.flex-header{	font-size: 30px;}


	/** WORK HISTORY**/
	.work-name h3{ font-size: 28px;}

	.image{
		padding-top: 10px;
		width: 140px;
		height: auto;
	}

	.work-info h4{
		margin-left: 20px;
		font-size: 18px;
		font-weight: 300;
		padding: 5px;
	}

	/** WORK EXAMPLES **/
	#select1{
		width: 60%;
		height: 40px;

		margin-bottom: 40px;
	
		border: none;
		border-bottom: 1px solid white;

		letter-spacing: 1px;
		font-weight: 300;
	}

	.w iframe{
		width: 100%;
		height: 75%;
		border: 1px solid white;
		margin-top: -25px;
	}

	/** FOOTER **/
	footer h3{	font-size: 18px;}




}

@media (min-width: 1280px){
	/*NEED TO TEST ON BIG SCREENS TO MAKE SURE EVERYTHING ALIGNS RIGHT!*/

	body{
		padding: 0px 60px 0px 60px;
	}

	.c iframe{ height: 700px;}


}

@media (min-width: 1600px){
	/*NEED TO TEST ON BIG SCREENS TO MAKE SURE EVERYTHING ALIGNS RIGHT!*/

	body{
		padding: 0px 60px 0px 60px;
	}

	.c iframe{ height: 850px;}


}
